*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
body{
  background-color: #0f172a;
  color:#cbd5e1;
}
.container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
  margin-bottom: 50px;
}

.profile-photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: x-large;
}
.role{
  margin-top: 8px;
  color: #94a3b8;
  font-size: 16px;
}
.links {
  list-style-type: none;
}

.links li {
  margin-bottom: 25px;
}

.links li a {
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: #334155;
  color: #e2e8f0;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.links li a:hover {
  background-color: #2563eb;
}
.links li a i{
  margin-right: 10px;
  font-size: large;
}
.github{
  color: #f43f5e;
}
.twitter{
  color:#0c0a09;
}
.portfolio{
  color: #c026d3;
}
 
.share-container{
  display: grid;
  place-items: center;
  position: absolute;
  top: -15px;
  left: 12px;
  background-color: #0f172a;
  border: 1px solid #f8fafc0f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
 
/* modal */

.modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid #f8fafc0f;
  width: 550px;
  height: 400px;
  scale:0;   
  background: #0f172a;
  z-index: 1;
  padding: 20px 25px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.modal-header {
  display: flex;
  position: relative;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-bottom: 2px #f8fafc0f;
}
.modal-header div i {
  position: absolute;
  right:2px;
  top:-4px;
  font-size: 25px;
}
.modal-header h2{
  color: #94a3b8;
}
 
.active {
  scale: 1;
}
.close {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}
.overlayactive {
  opacity: 1;
  pointer-events: initial; 
} 
.modal-qr{
  display: grid;
  grid-template-columns: auto auto;
  perspective: 1000px;
}
.qr-front{
  display: flex;
  align-items: center;
  justify-items: center;
}
.qr-back{
  display: none;
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
}
.qr-download{
  position: absolute;
  left: 51px;
  background: #3b82f6;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #3b82f6;
}
#download-text{
   font-size: 16px;
   font-weight: 600;
}
.qr{
  width: 175px;
  margin-left: 20px;
  padding: 12px;
  background-color: white;
  border-radius: 8px;
}
.qr-back-img{
  width: 175px;
  margin-left: 20px;
  padding: 12px;
  background-color: white;
  border-radius: 8px;
}
 
 
.socials{
  display: grid;
  grid-template-columns:auto auto auto;
}
.share-links{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.share-links div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #94a3b8;
  padding: 5px;
}
.icon-outer{
  background-color: #0f172a;
  border: 1px solid #f8fafc0f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.twitter-2{
  color:white;
}
.whatsapp{
  color: green;
}
.email{
  color: blueviolet;
}
.text{
  font-size: 15px;
}
.icon-first{
  margin-left: 25px;
  font-size: small;
  rotate: -90deg;
}
.icon-second{
  font-size: small;
  rotate: -90deg;
}
.icon-third{
  margin-left: 26px;
  font-size: small;
  rotate: -90deg;
}
.url-container{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #f8fafc0f;
}
.url {
  display: flex;
  align-items: center;
   font-size: 14px;
   padding: 10px;
   color: #94a3b8;
   margin-top: 5px;
   letter-spacing: 1px;
}
.copyBtn{
  background: #3b82f6;
  border: none;
  padding: 5px;
  border: 1px solid #3b82f6; 
}
.copy{
  cursor: pointer;
  padding: 10px;
  color: #f4f4f5;
  font-size: 16px;
  width: 8em;
}
.link-icon{
  font-size: smaller;
  margin-right: 5px;
  margin-left: 6px;
  color: #3b82f6;;
}


@media screen and (max-width: 550px ) {
   .modal-qr{
    flex-direction: column;
    align-items: center;
    justify-items: center;
   }
   .modal {
     width: 100vw;
     height: 70vh;
     bottom: 0%;
     border-radius: 5px;
     top: 60%;
     gap:15px;
     border-bottom: none;
     border-radius: 10px;
  }
  .copy{
    width: 4em;
  }
  .url-container{
    margin-top: 8px;
  }
  .url{
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .modal-qr{
    grid-template-columns: auto;
  }
  .link-icon{
    margin-left: 0;
    margin-right: 0;
  }
  .qr{
    width: 150px;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
  }
  .qr-back-img{
    width: 150px;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
  }
  .qr-download{
    left: 42px;  
  }
  #download-text{
    font-size: 14px;
    font-weight: 600;
  }
  .qr-front{
    margin-bottom: 18px;
  }
  .qr-back{
    margin-bottom: 18px;
  }
  .share-links{
    gap: 4px;
  }

}