*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
body{
  background-color: #0f172a;
  color:#cbd5e1;
}
.container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
  margin-bottom: 50px;
}

.profile-photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: x-large;
}
.role{
  color: #94a3b8;
  font-size: smaller;
}


.links {
  list-style-type: none;
}

.links li {
  margin-bottom: 15px;
}

.links li a {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #334155;
  color: #94a3b8;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.links li a:hover {
  background-color: #2563eb;
}

.links li a i{
  color: red;
}

.share-container{
  position: absolute;
  top: -15px;
  left: 12px;
}

.share-container i{
  cursor: pointer;
  background-color: #334155;
  border-radius:5px;
  padding: 8px;
}

/* modal */

.modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid #f8fafc0f;
  width: 500px;
  height: 400px;
  scale:0;   
  background: #0f172a;
  z-index: 1;
  padding: 20px 25px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.modal-header {
  display: flex;
  position: relative;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-bottom: 2px #f8fafc0f;
}
.modal-header div i {
  position: absolute;
  right:2px;
  top:-4px;
  font-size: 25px;
}
.modal-header h2{
  color: #94a3b8;
}
 
.active {
  scale: 1;
}
.close {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}
.overlayactive {
  opacity: 1;
  pointer-events: initial; 
} 
.modal-qr{
  display: grid;
  grid-template-columns: auto auto;
}
.qr{
  width: 150px;
  margin-left: 20px;
  padding: 10px;
}
.socials{
  display: flex;
}
.share-links{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}
.share-links div {
  cursor: pointer;
  color: #94a3b8;
}
.share-links div i {
  color: red;
  border-radius: 20px;
  width: 50px;
  margin-right: 10px;
}
.url-container{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #f8fafc0f;
}
.url {
   font-size: 16px;
   color:#0ea5e9;
   padding: 10px;

}
.copyBtn{
  background: #0369a1;
  border: none;
  padding: 5px;
  
}
.copy{
  cursor: pointer;
  font-size: large;
  padding: 10px;
  color: #cbd5e1;
  font-size: 16px;
  width: 8em;
}

@media screen and (max-width: 500px ) {
   .modal-qr{
    flex-direction: column;
    align-items: center;
    justify-items: center;
   }
   .modal {
     width: 100vw;
     height: 70vh;
     bottom: 0%;
     border-radius: 5px;
     top: 60%;
     gap:15px;
  }
  .copy{
    width: 4em;
  }
  .url-container{
    margin-top: 45px;
  }
  .modal-qr{
    grid-template-columns: auto;
  }

}